block
type:
 1. text
 2. menu
 3. icons
 4. interface

<header>
 <div class="topbar">
    {% for block in section.blocks %}
    {% case block.type %}
      {% when 'topbar_text' %}
          <div class="topbar-column">
              {{block.settings.text}}
          </div>
    {% endcase %}
    {%endfor%}
 </div>
 <div class="header-content"></div>

</header>

{% comment %}{%- if (forloop.index == 1 or forloop.index == 2) -%}
                col-md-6
            {% -elsif forloop.index == 3 -%}
                col-md-4
            {%- endif -%}{% endcomment %}







jQuery.ajax({
  type: 'POST',
  url: '/cart/change.js',
  data: { quantity: quantity, id: id },
  dataType: 'json',
  success: function(data) {
    $(".cart-count").html(data.item_count);
  }
});
theme.cart.changeItem(id, quantity);
},







$('.add-cart').click(function() {
  var $quantity = $(this).parent('.product-item').siblings('.input-wrapper').children('.quantity');
  var qty = $quantity.val();
  var varient = $quantity.data('id');

  var data = { updates: {} };
  data.updates[varient] = qty;

  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js',
    data: { quantity: quantity, id: id },
    dataType: 'json',
    success: function(data) {
        $("#cartCount").html(data.item_count);
    }
    });
  cart.changeItem(id, quantity);
  },
});










<script>
  function hide(even) {
    event.target.classList.remove('active');
  }
  function carousel(){
      var navElement = document.querySelectorAll(".navElement");
      var slider = document.querySelectorAll(".custom-carousel");

      for (i = 0; i < navElement.length; i++) {
          let nav = navElement[i];
          nav.addEventListener('click', function(e){
              var id = this.id.slice(4);

              navElement.forEach((nav) => {
                  nav.classList.remove('selected');
              })

              if (e.target){
                  e.target.classList.add('selected');
              }
              let activeTab = document.querySelectorAll('.main-carousel.active');
              activeTab.length && activeTab.forEach(tab=>tab.classList.remove('active'));

              let selectedTab = document.getElementById(e.target.dataset.target);
              selectedTab != null && selectedTab.classList.add('active');
          })
      }
  }

    function ticky(){
      var elems = document.querySelectorAll('.main-carousel');
      if(!elems.length) return;

      for (i = 0; i < elems.length; i++) {
          var flkty = theme.initFlickity( elems[i], {
              cellAlign: 'left',
              contain: true,
              pageDots: true,
              prevNextButtons: true,
              autoPlay: 1500,
              lazyLoad: 2,
              freeScroll: false,
              wrapAround: true,
              selectedAttraction: 0.01,
              friction: 0.15
          });
      }
  }
  window.addEventListener('DOMContentLoaded',function(){
      {%- if section.blocks.size > 0 -%}
      carousel();
      ticky();
      {%- endif -%}
  })
  document.addEventListener('shopify:section:load', () => ticky())
</script>