
<div class="section-connect">
    <div class="container">
        <div class="background" style="background:url({{section.settings.background | img_url : 'master'}})">

            {%- if section.settings.text_title != blank -%}
                <h2>{{section.settings.text_title}}</h2>
            {%- endif -%}

            <div class="connect">
                <input type="text" placeholder="Your e-mail address">
                <a href="">{{section.settings.text_email}}</a>
            </div>

        </div>
    </div>
</div>





{% schema %}

    {
        "name": "Connect Us",
        "tag": "section",
        "settings" : [
            {
                "type" :"header",
                "content": "Custom information"
            },
            {
                "type": "image_picker",
                "id" : "background",
                "label" : {
                    "en" : "Image Background"
                }
            },
            {
                "type": "text",
                "id" : "text_title",
                "label" : {
                    "en" : "Text"
                }
            },
            {
                "type": "text",
                "id" : "text_email",
                "label" : {
                    "en" : "Text Email"
                },
                "default" : "Subscribe"
            }
        ],
        "blocks":[

        ],
        "presets": [
            {
                "category": "Advanced layout",
                "name": "Connect section"
            }
        ]
    }

{% endschema %}