@import "./mixins/mixins";
@import "./mixins/variables";


.section-follow {
    .container {
        h2 {
            text-align: center;
            font-size: 25px;
            line-height: 120%;
            color: #103178;
            margin-bottom: 30px;
        }
        .controls {
            display: none;
        }
    }

}



.section-connect {
    margin: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        text-align: center;
        .background {
            width: 1140px;
            margin: auto;
            height: 205px;
        }
        h2 {
            width: 590px;
            margin: auto;
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: #103178;
            margin-bottom: 30px;
        }
        .connect {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                width: 327px;
                height: 46px;
                padding: 0px 25px;
                background: #F0F2F5;
                border-radius: 60px;
                margin-right: 10px;
            }
            a {
                padding: 10px 40px;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: #FFFFFF;
                background: #FF9923;
                border-radius: 42px;
                height: 46px;

            }
        }
    }



    @include desktop {
        .container {
            .background {
                width: auto;
                height: auto;
            }
        }
	}
	@include tablet {
        .container {
            .background {
                h2 {
                    font-size: 32px;
                }
            }
        }
	}
	@include mobile {
        .container {
            .background {
                h2 {
                    width: auto;
                    font-size: 24px;
                }
                .connect {
                    display: block;
                    input {
                        margin-bottom: 15px;
                        margin-right: 0;
                    }
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
	}
	// @include mobile-xxs {

	// }
}




.section-review {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-bottom: 80px;
    .container {
        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: #103178;
            margin-bottom: 30px;
            span {
                color: #FF9923;
            }
        }
        .content-review {
            .content-item {
                background: #FFFFFF;
                border-radius: 4px;
                padding: 30px;
                p {
                    font-size: 18px;
                    line-height: 26px;
                    color: #103178;
                    margin-bottom: 15px;
                }
                h3 {
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 19px;
                    color: #103178;
                    margin-bottom: 15px;
                }
                .rating {
                    i {
                        color: #FF9923;
                    }
                }
            }
        }
        .controls {
            display: none;
        }
    }



    @include desktop {

	}
	@include tablet {

	}
	@include mobile {
        padding-top: 50px;
        padding-bottom: 50px;
        .container {
            h2 {
                font-size: 30px;
            }
        }
	}
	// @include mobile-xxs {

	// }
}




.section-point {
    border-bottom: 1px solid #F0F2F5;
    border-top: 1px solid #F0F2F5;
    margin-bottom: 80px;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .wallet , .box , .delivery {
            display: flex;
            align-items: center;
            padding: 10px 70px;
            i {
                margin-right: 13px;
            }
            p {
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #103178;
            }
        }
        .border {
            border-right: 1px solid #F0F2F5;
        }
        .border:last-child {
            border-right: none;
        }
    }
}







.section-blog {
    margin-bottom: 80px;
    .container {
        h2 {
            font-weight: 600;
            font-size: 25px;
            line-height: 120%;
            color: #103178;
            text-align: center;
            margin-bottom: 30px;
        }
        .blog {
            &-item {
                .text {
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 130%;
                    color: #103178;
                    margin: 20px 0 10px;
                }
                .organization {
                    display: flex;
                    align-items: center;
                    .time {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        color: #5B6C8F;
                        margin-right: 15px;
                    }
                    .author {
                        font-size: 14px;
                        line-height: 20px;
                        color: #5B6C8F;
                    }
                }
            }
        }
        .controls {
            display: none;
        }
    }
}