
.list-category {
    margin: 80px 0;
    .container {
        max-width: 1270px;
        .category {
            h2 {
                font-weight: 600;
                font-size: 18px;
                line-height: 110%;
                color: var(--main_color);
                margin-bottom: 22px;
            }
            .list-item {
                ul {
                    list-style: none;
                    li {
                        a {
                            font-size: 16px;
                            line-height: 30px;
                            color: var(--main_color);
                            transition: 0.5s;
                            &:hover {
                                color: var(--bg-color);
                                transition: 0.5s;
                            }
                        }
                    }
                }

            }
        }
        .controls {
            display: none;
        }
    }


    @include desktop {

	}
    @include tablet {

	}
    @include mobile {
        .container {
            .category {
                .slider-item {
                    flex-basis: 50%;
                    margin-bottom: 25px;
                    h2 {
                        margin-bottom: 10px;
                    }
                }
            }
        }
	}
    @include mobile-xxs {

	}
}