@import "./mixins/mixins";
@import "./mixins/variables";


.product-feature {
    margin-bottom: 80px;
    .container {
        h2 {
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: #103178;
            text-align: center;
            margin-bottom: 30px;
        }
        .list-item {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            .grid-item {
                padding: 20px 25px;
                position: relative;
                border: 1px solid #F0F2F5;
                .content {
                    margin-top: 15px;
                    span {
                        position: absolute;
                        top: 20px;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 17px;
                        background: #FF9923;
                        border-radius: 42px;
                        padding: 0 10px;
                        color: white;
                    }
                    h3 {
                        font-size: 16px;
                        line-height: 23px;
                        color: #103178;
                        margin-bottom: 15px;
                    }
                    .price {
                        line-height: 1.1;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        .new-price {
                            font-weight: 500;
                            font-size: 18px;
                            color: #FF9923;
                            margin-right: 7px;
                        }
                        .old-price {
                            font-size: 16px;
                            color: #9BABCD;
                            text-decoration: line-through;
                        }
                    }
                    .rating {
                        i {
                            color: #FF9923;
                        }
                    }
                }
            }
        }
    }




    @include desktop {
        .container {
            .list-item {
                grid-template-columns: auto auto auto auto;
            }
        }
	}
	@include tablet {
        .container {
            h2 {
                font-size: 30px;
            }
            .list-item {
                grid-template-columns: auto auto;
            }
        }
	}
	@include mobile {

	}
	// @include mobile-xxs {

	// }
}