@import "./mixins/mixins";
@import "./mixins/variables";


.section-product {
    margin-top: 80px;
    margin-bottom: 70px;
    position: relative;
    .container {
        h2 {
            text-align: center;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            background: #fff;

        }
        .swiper-pagination {
            position: relative;
            width: 100%;
            margin-top: 20px;
            span {
                margin: 0 5px;
            }
        }
        .list-product {
            display: flex;
            .product-item {
                position: relative;
                border: 1px solid gray;
                padding: 20px 25px;
            }

            .content {
                text-align: initial;
                margin-top: 15px;

                .tag {
                    position: absolute;
                    top: 20px;
                    left: 25px;
                    span {
                        margin-right: 10px;
                        padding: 0px 10px;
                        background: #F00000;
                        border-radius: 42px;
                        color: white;
                    }
                }
                h3 {
                    font-size: 16px;
                    line-height: 23px;
                    color: #103178;
                    margin-bottom: 15px;
                }
                .price {
                    line-height: 1.1;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .new-price {
                        font-weight: 500;
                        font-size: 18px;
                        color: #FF9923;
                        margin-right: 7px;
                    }
                    .old-price {
                        font-size: 16px;
                        color: #9BABCD;
                        text-decoration: line-through;
                    }
                }
            }
        }
        .controls {
            .prev , .next {
                list-style: none;
                background: rgba(0,0,0,0.8);;
                z-index: 999;
                font-size: 7px;
                padding: 10px;
                top: 53%;
                display: flex;
            }
            .next {
                right: 10%;
            }
        }
    }




    @include desktop {
        .container {
            .controls {
                .prev , .next {
                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .next {
                    right: 32px;
                }
            }
        }
        .list-product {
            .product-item {
                .content {
                    .rating {
                        i {
                            color: #FF9923;
                        }
                    }
                }
            }
        }
	}
	@include tablet {
        .container {
            .controls {
                .next {
                    right: 25px;
                }
                .prev , .next {
                    top: 55%;
                }
            }
        }
	}
	@include mobile {
        margin-top: 30px;
        margin-bottom: 30px;
        .container {
            h2 {
                font-size: 30px;
            }
            .controls {
                .next {
                    right: 0px;
                }
            }
        }
	}
	// @include mobile-xxs {

	// }
}



.add-cart {
    width: 100%;
    background: #FF9923;
    border-radius: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 5px 20px;
    cursor: pointer;
}