
/* Slideshow container */
.section-slider {
    .slideshow-container , .container {
        position: relative;
        margin: auto;
        .tns-nav {
            display: none;
        }
    }
    .container {
        .slide {
            img{
              height: 450px;
            }
          }
    }
    .slideshow-container {
        .slide {
            img{
              height: 600px;
            }
          }
    }
    .discount {
        position: absolute;
        top: 50%;
        left: 43%;
        width: 133px;
        height: 133px;
        background: #FFC800;;
        border-radius: 50%;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.controls {
    list-style: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-w {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  margin-left: 70px;
  padding: 8px 12px;
  .content-w {
    p {
      font-size: 22px;
      line-height: 32px;
      color: #FFFFFF;
    }
    .price {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      .new-price {
        font-weight: 600;
        font-size: 50px;
        line-height: 1.2;
        color: #FFC800;
      }
      .old-price {
        font-size: 25px;
        line-height: 36px;
        text-decoration-line: line-through;
        color: #9BABCD;
      }
    }
    a {
      background: #FFC800;
      border-radius: 42px;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #103178;
      padding: 10px 50px;

    }
  }
}




.fa-5x {
    font-size: 2em;
}



@include desktop {

}
@include tablet {
    .section-slider {
        .container {
            .slide {
                img {
                    height: 350px;
                }
            }
        }
    }
}
@include mobile {
    .section-slider {
        .container {
            .slide {
                img {
                    height: 250px;
                }
                .text-w {
                    width: 305px;
                    margin-left: 40px;
                    .content-w {
                        p {
                            font-size: 18px;
                            line-height: 20px;
                        }
                        .price {
                            margin-top: 15px;
                            margin-bottom: 15px;
                            .new-price {
                                font-size: 36px;
                            }
                        }
                        a {
                            font-size: 14px;
                            padding: 10px 30px;
                        }
                    }
                }
                .discount {
                    display: none;
                }
            }
            .controls {
                .prev , .next {
                    padding: 10px;
                    font-size: 12px;
                }
            }
        }
    }
}
@include mobile-xxs {

}