// @import "./mixins/mixins";
// @import "./mixins/variables";

.product-tab {
    margin-bottom: 80px;
    .container {
        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: var(--main_color);
            margin-bottom: 20px;
        }
        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            .navElement {
                margin: 0 40px;
                cursor: pointer;
                text-align: center;
                font-size: 25px;
                line-height: 120%;
                color: var(--main_color);
                &.selected {
                    text-decoration: underline;
                }
            }
        }
        .carouselHolder {
            .tab-carousel {
                display: flex;
                flex-wrap: wrap;
                .carousel-cell {
                    border: 1px solid var(--gray_color);
                    padding: 20px 25px;
                    position: relative;
                    flex-basis: 20%;
                    .content {
                        margin-top: 15px;
                        span {
                            position: absolute;
                            top: 20px;
                            left: 25px;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 17px;
                            color: #FFFFFF;
                            background: var(--bg-color);
                            border-radius: 42px;
                            padding: 2px 10px;
                        }
                        h3 {
                            font-size: 17px;
                            line-height: 23px;
                            color: var(--main_color);
                            margin-bottom: 15px;
                        }
                        .price {
                            line-height: 1.1;
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            .new-price {
                                font-weight: 500;
                                font-size: 18px;
                                color: var(--bg-color);
                                margin-right: 7px;
                            }
                            .old-price {
                                font-size: 16px;
                                color: #9BABCD;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }




    @include desktop {
        .container {
            .carouselHolder {
                .tab-carousel {
                    .carousel-cell {
                        .content {
                            h3 {
                                height: 70px;
                            }
                        }
                    }
                }
            }
        }
	}
    @include tablet {
        .container {
            h2 {
                font-size: 30px;
            }
            .nav {
                .navElement {
                    margin: 0 30px;
                    font-size: 20px;
                }
            }
            .carouselHolder {
                .tab-carousel {
                    .carousel-cell {
                        flex-basis: 33.33%;
                        .content {
                            h3 {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
	}
    @include mobile {
        .container {
            .nav {
                .navElement {
                    margin: 0 16px;
                    font-size: 14px;
                }
            }
            .carouselHolder {
                .tab-carousel {
                    .carousel-cell {
                        flex-basis: 50%;
                        .content {
                            h3 {
                                height: 70px;
                            }
                        }
                    }
                }
            }
        }
	}
    @include mobile-xxs {
        .container {
            .nav {
                .navElement {
                    margin: 0 10px;
                    font-size: 14px;
                }
            }
            .carouselHolder {
                .tab-carousel {
                    .carousel-cell {
                        flex-basis: 100%;
                    }
                }
            }
        }
	}
}

.main-carousel:not(.active){
  position: absolute;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
}
.tab-carousel:not(.flickity-enabled){display: flex;}
