<div class="overlay" id="overlay" style="display:none;"></div>
<!-- Popup -->
<div class="popup" id="popup" style="display:none;">
	<div class="popup-inner">
		<input type="button" name="Close" class="s3-btn-close" onclick="popupClose();" value="×">
		<div class="title">
			<i class="fas fa-check"></i>
			<h2>added to cartsuccesfully</h2>
		</div>
		<div class="content">
			<div class="product-content">
				<div class="image">
					<img data-image-product src="" alt="">
				</div>
				<h3 data-title-product></h3>
				<div class="price">
					<div class="new-price">22.222</div>
					<div class="old-price">33.333</div>
				</div>
				<div class="rating">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				</div>
			</div>
			<div class="checkout">
				<p class="des">There are two items in our cart</p>
				<div class="total">
					<p>Total:</p>
					<p>$44.00</p>
				</div>
				<a href="javascript:void(0)" class="continue">Continue shopping</a>
				<a href="/cart" class="view">View cart</a>
				<a href="" class="check">Proceed to checkout</a>
			</div>
		</div>
	</div>
</div>